.App{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-direction: column;

}
body{
    margin: 0%;
    padding: 0%;
}
.TitleSection
{
   background-color: rgb(132, 40, 218);
   width: 100%;
   height: 300px;
   display: flex;
   color: white;
   flex-direction: column;
   align-items: center;


}
.TitleSection input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(91, 8, 107);
    font-size: 18px;
    padding-left: 10px;
}
.TitleSection button{
    width: 180px;
    height: 60px;
    border-radius: 10px;
    margin: 20px;
    border: none;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    background-color: rgb(34, 4, 63);
}

.TitleSection button:hover{
    cursor: pointer;
}
.DisplaySection{
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 250px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  }
  
  .Card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 21%;
    height: 252px;
  }
